redis~=5.0.1
fastapi~=0.103.1
Jinja2~=3.1.2
motor~=3.3.1
numpy~=1.26.0
omegaconf~=2.3.0
pymongo[srv]~=4.5.0
uvicorn[standard]~=0.23.2
pydantic~=2.4.1
gensim~=4.3.2
gdown~=4.7.1
google-auth~=2.23.1
python-multipart~=0.0.6
