body, input {
    font-size: 17px;
    line-height: 27px;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family:-apple-system-font, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
    font-weight:200;
}

body {
    margin: 0 auto;
    max-width: 800px;
    padding: 1em;
}

#guess-wrapper {
    display: flex;
    margin: 20px 0;
    align-items: center;
    width: 120%;
}

#guess-wrapper input {
    height: 44px;
    display: flex;
    font-size: 25px;
}

#guess {
    width: 75%;
}

#guesses {
    margin-bottom:40px;
}

#give-up-btn {
    height: 44px;
}

input[type="checkbox"] {
    margin-bottom: 20px;
}

body {
    padding-left:20px;
    padding-right:20px;
    padding-top:18px;
}


th {
    padding-left: 3em;
}

th#chronoOrder, th#alphaOrder, th#similarityOrder, input#give-up-btn, input#guess-btn, input#lower{
    cursor: pointer;
}

.gaveup {
    border: 1px solid black;
    padding-top: 0.7ex;
    padding-bottom: 0.7ex;
    padding-left: 0.7em;
    background-color: #eeeeff;
}

.close {
    text-align: left;
}

/*"Unusual word found!  This word is not in the list of \"normal\" words that we use for the top-1000 list, but it is still similar!";*/

.weirdWord {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.weirdWord .tooltiptext {
 visibility: hidden;
  width: 20em;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0.3ex 0;
  border-radius: 1ex;

  position: absolute;
  z-index: 1;
}


.weirdWord:hover .tooltiptext {
  visibility: visible;
}

footer {
    margin-top: 200px;
}

.review {
    margin: 0;
}

.review__quote {
    font-size: medium;
}

.review__quote::before {
    content: '\201C';
}

.review__quote::after {
    content: '\201D';
}

.review__reviewer {
    margin-right: 20px;
    font-size: small;
}

body.rules-open {
    overflow: hidden;
}

body.rules-open #rules-underlay {
    display: block;
}

body.settings-open #settings-underlay {
    display: block;
}

#rules-button {
    border: 2px solid black;
    border-radius: 50%;
    height: 2em;
    font-weight: bold;
    width: 2em;
    align: left;
}

.dialog-underlay {
    background: rgba(0,0,0,.5);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

body.dialog-open {
    overflow: hidden;
}

.dialog {
    background: white;
    left: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
    overflow: hidden;
    position: fixed;
    right: 2em;
    top: 2em;
    z-index: 1;
}

.dialog-close {
    color: black;
    font-size: 1.5em;
    height: 1em;
    line-height: 1em;
    left: .5em;
    position: absolute;
    top: .5em;
    width: 1em;
    z-index: 2;
}

.dialog-content {
    max-height: calc(100vh - 4em);
    padding: 2em;
    overflow: auto;
}

.dialog-content > *:first-child {
    margin-top: 0;
}

.dialog-content > *:last-child {
    margin-bottom: 0;
}

#rules-heading {
    margin-top: 0;
}

@media only screen and (max-width: 640px) {
    body, input {
        font-size: 14px;
    }

    #guess-wrapper {
        flex-grow: 1;
    }

    table {
        width: 100%;
    }

    th {
        padding-left: .5em;
    }
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#menu {
    display: flex;
    column-gap: .5em;
}

#menu button,
.dialog-close {
    background: transparent;
    border: none;
    padding: 0;
}

#menu button svg {
    height: 1.5em;
    width: 1.5em;
}

.percentile,
.progress-container,
.progress-bar {
    display: inline-block;
    background-color:#008000;
}

.percentile {
    text-align: right;
    width: 5em;
}

.progress-container {
    background-color: #eeeeee;
    width: 10em;
}


/* Dark mode */
body.dark {
    background: #111;
    color: #fafafa;
    color-scheme: dark;
}

body.dark a {
    color: #9af;
}

body.dark #menu button {
    color: #fafafa;
}

body.dark .dialog {
    background: #333;
}

body.dark .dialog-close {
    color: #fafafa;
}

body.dark .progress-container {
    background: #333;
}