<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>סמנטעל: שאלות נפוצות</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PP8J7V4T0X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PP8J7V4T0X');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2098371592785764" crossorigin="anonymous"></script>
<script id="3bears" src="https://www.3bears.ai/static/js/3bears.js" code="d01a8d801f184336b80611e05a1f8323"></script>
</head>
<body dir='rtl'>

<header>
<h1>שאלות נפוצות</h1>
<div w3-include-html="/templates/menu.html"></div>
</header>
    <a href="/">חזרה</a>
    <p> ש: למה ״ציון הקרבה״ נראה לא אינטואטיבי?</p>
    <p> ת: הסיבה העיקרית שאני יכול לחשוב עליה היא
      שלניחוש שלך או למילה הסודית יש כמה משמעויות, והמשמעות שעלתה בדעתך פחות נפוצה מהאחרות.
          למשל, כשבדקתי את המשחק ניסיתי אותו עם המילה ״שלום״,
          ורוב ה1000 המילים הקרובות היו שמות משפחה - בגלל ש״שלום״ נפוץ בעיקר כשם משפחה
          בויקיפדיה העברית. חוץ מזה, הדאטה לא מושלם. בכל זאת, ויקיפדיה.
    </p>
    <p> ש: למה אפשר לשחק רק פעם ביום? </p>
    <p> ת: ככה. </p>
    <p> ש: מי בוחר את המילים? </p>
    <p> ת: אני בוחר את המילים, בדרך כלל שבוע־שבועיים מראש. ניסיתי להגריל
        מילים אבל יש עם זה שתי בעיות: (1) המון מילים שנמצאות בDB הן מילים לא אמיתיות
        או מילים עם הטיה (״שולחנותיו״) ואני מעדיף לבחור מילים לא כאלה מסיבות ברורות
        (2) הרבה פעמים הקשרים שונים ממה שאינטואטיבי לנו, כמו הדוגמה של ״שלום״ למעלה.
        אני רוצה לבדוק שבאמת יש ב־1000 מילים הקרובות מילים שיעזרו להגיע לפתרון של החידה.
    </p>
    <p> ש: מתי המילה מתחלפת? </p>
    <p> ת: 0:00
        <a href="https://he.wikipedia.org/wiki/%D7%96%D7%9E%D7%9F_%D7%90%D7%95%D7%A0%D7%99%D7%91%D7%A8%D7%A1%D7%9C%D7%99_%D7%9E%D7%AA%D7%95%D7%90%D7%9D" target="_blank">
            UTC</a>,
        כלומר 2:00 בישראל (או 3:00 בשעון קיץ). הסיבה שזה לא ב0:00 בשעון ישראל כי אני לא
        רוצה שהחידה תתחלף באמצע למי שעדיין רוצה לשחק ב0:00.
    </p>

    <p> ש: פעם ״והשוקו״ הייתה מילה, לאן היא נעלמה? </p>
    <p> ת: ביצירת המודל הנוכחי של סמנטעל השתמשנו ב
        <a href="https://github.com/amir-zeldes/HebPipe" target="_blank">HebPipe</a>
        בשביל לנקות את הדאטה לפני האימון של Word2Vec - מה שאומר שמילים כמו ״והשוקו״
        הגיעו למודל כשהן מפורקות ל״ו+ה+שוקו״. בגלל זה יותר כיף לשחק עכשיו ממה שהיה בימים
        הראשונים של המשחק.
    </p>

    <p> ש: אז עכשיו הכל מושלם? </p>
    <p>
         ת: ברור שלא. למשל, החבילה שטוענת את הדאטה
        מויקיפדיה מנקה סימנים שאנחנו לא רוצים שהיא תנקה כמו למשל ', מה שאומר שמבחינת
        המודל מילים כמו ״גל״, ״ג'ל״ הן אותה מילה. אנחנו עובדים על זה.
    </p>

        <p> ש: איך מבטאית ״סמנטעל״? </p>
    <p>
        ת: איך שבא לך :)
    </p>

    <p> ש: איך זה עובד? </p>
    <p> ת: <a target="_blank" href="https://reshetech.co.il/machine-learning-tutorials/gensim-and-word2vec">הנה מאמר על Word2Vec.</a>
    <p> ש: באיזה דאטה השתמשת?</p>
    <p> ת: <a target="_blank" href="https://dumps.wikimedia.org/hewiki/latest/">ויקיפדיה </a></p>
{% if yesterday %}
    <p> ש: מה המילה של אתמול? </p>
    <p> ת: {{yesterday[-1]}} </p>
    <p> ש: מה המילים הכי קרובות למילה אתמול? </p>
    <p>ת: {{', '.join(yesterday[:-1][::-1])}}. <a href="/yesterday-top-1000">עוד?</a></p>
{% endif %}
    <p> ת: קוד מקור?</p>
    <p> ת: <a target="_blank" href="https://github.com/ishefi/semantle-he.git">בטח.</a></p>
    <p> ש: יש לי רעיון ממש טוב לשיפור של סמנטעל, מה לעשות? </p>
    <p> ת: אפשר לפתוח issue בקישור שבתשובה הקודמת. אם אני אוהב את הרעיון אפשר לממש אותו
        בעצמך או לחכות שמישהי אחרת תעשה את זה!
    </p>
    <p> ש: אפשר להתלונן על ציון קרבה של מילים? </p>
    <p> ת: כן, אבל אני כנראה אתעלם ממך. זאת המדיניות של דיויד טרנר שיצר את המשחק המקורי ואני זורם איתו. </p>


    <a href="/">חזרה</a>
<footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="static/js/semantle.js?version={{js_version}}"></script>
</footer>
</body>
</html>