<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5B2VVCJ');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>סמנטעל</title>
    <link id="favicon" rel="icon" type="image/x-icon" href="{{ url_for('static', path='/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css?version=' + css_version) }}">
    <script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PP8J7V4T0X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PP8J7V4T0X');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2098371592785764" crossorigin="anonymous"></script>
</head>
<body dir='rtl'>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5B2VVCJ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
<header>
<h1><a href="https://www.ishefi.com"><img src="https://www.ishefi.com/images/favicon.ico"></a> סמנטעל</h1>
<div w3-include-html="/api/menu"></div>
<div id="notification-underlay" class="dialog-underlay">
    <div class="dialog" id="notification" role="dialog" data-notificationid="{{notification['id']}}" data-notificationexpire="{{notification['expire']}}">
        <button class="dialog-close" id="notification-close" aria-label="Close">&times;</button>
        <div class="dialog-content" id="notification-content">
            <h3 id="notification-heading">{{notification["heading"]}}</h3>
            {% set notification_content = notification["content"].split('\n') %}
            {% for line in notification_content %}
            {{ line }}
            <br>
            {% endfor %}
        </div>
    </div>
</div>
</header>
    <figure>
        <blockquote class="review" cite="{{quote[3]}}">
            <p class="review__quote">{{quote[0]}}</p>
        </blockquote>
        <figcaption class="review__reviewer">
            - {{quote[1]}},
            <cite>{{quote[2]}}</cite>
        </figcaption>
    </figure>

<p>
    {% if yesterdays_secret %}
    המילה של אתמול הייתה
    <a href="/yesterday-top-1000" class="implicita">
        <b>{{yesterdays_secret}}</b></a>.
    {% endif %}
    היום, חידה מספר <b id="puzzleNumber">{{number}}</b>,
    ציון הקרבה של המילה הכי קרובה (999/1000) למילה הסודית היום הוא
    <b>{{closest1}}</b>,
    ציון הקרבה של המילה העשירית הכי קרובה (990/1000) הוא
    {{closest10}}
    וציון הקרבה של המילה האלף הכי קרובה (1/1000) הוא
    {{closest1000}}.
</p>

<div id="error" style="color:#ff0000"></div>
    <form id="form" autocorrect="off" autocapitalize="none"
          autocomplete="off" style="display: flex; max-width: 330px;">
    <br/>
    <div id="guess-wrapper">
    <input placeholder="ניחוש" autocorrect="off" autocapitalize="none"
           autocomplete="off"
           type="search" id="guess">
    <input type="submit" value="ניחוש" id="guess-btn">
    </div>
    </form>
    <input id="clue-btn" type="button" value="רמז">
    <div id="response"></div>
    <p><b id="timer" hidden></b></p>
    <div style="display:none">
      <input type="text" id="share" />
    </div>
    <ul id="clueList">
        {% for clue in clues %}
        <li style="red">{{ clue }}</li>
        {% endfor %}
    </ul>
    <table id="guesses">
    </table>

    <br>
    <br>

<div align="center" dir="rtl"> ❤️ את סמנטעל?
    <a href="https://ko-fi.com/ishefi" target="_blank" style="text-decoration: none;">אפשר לקנות לי ☕!</a>
    <br>
    <a href="javascript:shareBtc();">או ב־₿</a>
    <br>
    <br>
    (אפשר גם לשחק ב<a href="https://degle.ishefi.com" target="_blank" style="text-decoration: none;">דעגעל🚩</a>
    או ב־<a href="https://mimamu.ishefi.com" target="_blank" style="text-decoration: none;">MiMaMu</a>,
    או לעקוב אחרי  <a href="https://sufganiyot.ishefi.com" target="_blank" style="text-decoration: none;">כמה סופגניות אכלתי </a>)
    <br><br>
    Made by <a target="_blank" href="https://www.ishefi.com">Itamar Shefi</a> 2022
    <br>
    Language model by <a target="_blank" href="https://twitter.com/IddoYadlin">Iddo Yadlin</a>
    <br>
    Word2Vec data from Wikipedia.
    Based on David Turner's <a target="_blank" href="https://semantle.novalis.org/">Semantle</a>
    <br><br>
</div>

<template id="x-icon">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" s="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"/>
    </svg>
  </template>

<p id="old_guesses" hidden> {{ guesses }}</p>

<footer align="center">
    <hr>
    <a href="/legal/privacy">Privacy Policy</a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.statically.io/gh/zenorocha/clipboard.js/v2.0.10/dist/clipboard.min.js"></script>
    <script src="/static/semantle.js?version={{js_version}}"></script>


</footer>

</body>

</html>
