<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0" />
<nav id="menu" xmlns="http://www.w3.org/1999/html">
    <button id="twitter-button" aria-label="Twitter">
        <a href="https://twitter.com/shefi89?ref_src=twsrc%5Etfw" target="_blank" class="implicita">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="currentColor">
                <path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/>
            </svg>
        </a>
    </button>
    <button id="mail-button" aria-label="Mail">
        <a href="mailto:semantle.he@gmail.com?subject=רציתי לומר תודה על סמנטעל&body=זה משחק מדהים וזה כל מה שיש לי לומר בעניין. תודה רבה!" target="_blank" class="implicita">
            <span class="material-symbols-rounded">mail</span>
        </a>
    </button>
    <button id="faq-button" aria-label="Faq" >
        <a href="/faq" class="implicita">
            <span class="material-symbols-rounded">info</span>
        </a>
    </button>
    <button id="rules-button" aria-label="Rules">
        <span class="material-symbols-rounded">help</span>
    </button>
    <button id="secrets-button" aria-label="Secrets">
        <a href="/secrets" class="implicita">
            <span class="material-symbols-rounded">history</span>
        </a>
    </button>
    <button>
        <a href="/videos" class="implicita">
            <span class="material-symbols-rounded">video_library</span>
        </a>
    </button>
    <button id="settings-button" aria-label="Settings">
        <span class="material-symbols-rounded">settings</span>
    </button>
    <button>
        <a href="/statistics" class="implicita">
            <span class="material-symbols-rounded">bar_chart</span>
        </a>
    </button>
    <button id="menu-toggle" class="burger-menu" aria-label="Toggle Navigation">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </button>
    {% if user %}
    <div id="profile-pic">
        <img src="{{user['picture']}}" style="height: 2rem; border-radius: 50%"
             {% if user['has_active_subscription'] %} class="shimmer" {% endif %}
             id="profile-image"
             referrerpolicy="no-referrer">
        <div id="tooltip-menu" class="hidden">
            <a id="logout-link" style="color: black; font-size: small;">להתנתק</a>
        </div>
    </div>
    {% else %}
    <div style="color-scheme: light">
        <div id="g_id_onload"
            data-client_id="{{ google_auth_client_id }}"
            data-ux_mode="redirect"
            data-login_uri="/login"
            data-state="next={{ next_page }}"
            style="visibility: hidden">
        </div>
        <div class="g_id_signin"
            data-type="icon"
            data-shape="circle"
            data-size="medium">
        </div>
    </div>
        {% endif %}
</nav>
<div id="rules-underlay" class="dialog-underlay">
  <div class="dialog" id="rules" aria-labelledby="rules-heading" aria-modal="true" role="dialog">
    <button class="dialog-close" id="rules-close" aria-label="Close">&times;</button>
    <div class="dialog-content" id="rules-content">
        <h3 id="rules-heading">נחשו את המילה הסודית</h3>
            <p>
            אפשר לנחש מילה או ביטוי קצר.
            המילה הסודית יכולה להיות בכל אורך, אבל תהיה מילה בודדת (ולא ביטוי).
            </p>
            <p>
                המשחק יגיד כמה המילה קרובה סמנטית למילה הסודית.
                קרבה לא באה לידי ביטוי באיות אלא במשמעות.
                ״משמעות״ או ״קרבה סמנטית״ נמדדת באמצעות
                <a target="_blank" href="https://he.wikipedia.org/wiki/Word2vec">Word2Vec</a>.
                או במילים פשוטות יותר: שתי מילים הן יותר קרובות סמנטית
                ככל שיותר סביר להשתמש בשתיהן בקונטקסט דומה
                .(ספציפית בויקיפדיה, כי זה הקורפוס שהמודל אומן עליו)

                הציון לקרבה הסמנטית הוא בין 100- ל־100, כש־100- זה ממש רחוק ו־100 זאת המילה הסודית בעצמה.
            </p>
            <p>
                המילה הסודית יכולה להיות כל
                <a target="_blank" href="https://he.wikipedia.org/wiki/%D7%97%D7%9C%D7%A7%D7%99_%D7%94%D7%93%D7%99%D7%91%D7%A8">חלק דיבר</a>,
                אבל תמיד תהיה מילה בודדת.
            </p>
            <p>
                המשחק יגיד כמה הניחוש שלך קרוב למילה הסודית
                ויציין אם המילה אחת מ1000 המילים הכי קרובות למילה הסודית.
            </p>
            <p>
        בניגוד ל־<a target="_blank" href="https://www.nytimes.com/games/wordle/index.html">Wordle</a>,
        בדרך כלל צריך יותר מ6 ניחושים.
        יותר בכיוון של כמה עשרות. ויש מילה חדשה כל יום.

    </p>
        </div>
      </div>
    </div>
<div class="dialog-underlay" id="settings-underlay">
    <div class="dialog" id="settings" aria-labelledby="settings-heading" aria-modal="true" role="dialog">
      <button class="dialog-close" id="settings-close" aria-label="Close">&times;</button>
      <div class="dialog-content" id="settings-content">
        <div>
          <input type="checkbox" name="dark-mode" value="dark-mode" id="dark-mode" />
          <label for="dark-mode">מצב כהה</label>
        </div>
      </div>
    </div>
  </div>
