<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5B2VVCJ');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link id="favicon" rel="icon" type="image/x-icon" href="{{ url_for('static', path='/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css?version=' + css_version) }}">
    <script src="https://cdn.ishefi.com/twemoji.min.js" crossorigin="anonymous"></script>
    <title>בחר חידה</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PP8J7V4T0X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PP8J7V4T0X');
</script>

</head>
<body dir="rtl">
<div>
    <ul id="word-buttons" style="column-count: 3; list-style-type: none">
        {% for secret in potential_secrets %}
        <li><button>{{ secret }}</button></li>
        {% endfor %}
        <li><input id="custom-input" type="text" placeholder="הכנס מילה חדשה">
            <button id="custom">Custom</button>
        </li>
    </ul>
</div>
<div id="word-data">
    <p id="all">Word data will appear here</p>
    <ul id="data">
    </ul>
</div>
</body>
<script>
    word_buttons = document.getElementById("word-buttons");
    buttons = word_buttons.getElementsByTagName("button");
    let wordData = document.getElementById("word-data");
    Array.from(buttons).forEach(button => {
        button.addEventListener("click", function() {
            wordData.innerHTML = "Loading...";
            let word = button.id === "custom" ? document.getElementById("custom-input").value : button.innerHTML;
            fetch(`/admin/model?word=${word}`)
            .then(response => {
                if (response.ok) {
                    return response.json()
                }  else {
                   alert("Error");
                }
            })
            .then(response => {
                let data = response.data;
                wordData.innerHTML = "";
                var allData = document.createElement("p");
                allData.textContent = data.join(", ");
                wordData.appendChild(allData);

                var list = document.createElement("ul");
                [1, 50, 100, 300, 550, 750].forEach(index => {
                   list.append(document.createElement("hr"));
                   for (i = index; i < index + 10; i++) {
                       var item = document.createElement("li");
                       item.textContent = `${i}. ${data[i]}`;
                       list.appendChild(item);
                   }
                });
                wordData.appendChild(list);

                let cluesLabel = document.createElement("label");
                cluesLabel.for = "clues";
                cluesLabel.textContent = "רמזים (מופרדים ברווח):";
                wordData.appendChild(cluesLabel);
                let clues = document.createElement("input");
                clues.id = "clues";
                wordData.appendChild(clues);

                wordData.append(document.createElement("br"));
                var submit = document.createElement("button");
                submit.textContent = response.date;
                submit.addEventListener("click", function() {
                    fetch("/admin/set-secret", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            secret: data[0],
                            clues: clues.value.split(" ")
                        })
                    }
                    )
                    .then(response => response.json())
                    .then(data => {
                        alert(data);
                        console.log(data);
                    });
                });
                wordData.append(submit);
            });
        });
    });

</script>
</html>